{% extends "layout.html" %} {% block body %} 
<div class="row">	
    <div class="col-6">
        <h3> {{entry.id}}  </h3>
        <div>
{{entry.content | safe}}
        </div>
    </div>

    <div class="col-6">
        <h6> Links </h6>
        <div class="row">
            <div class="col-4">
                <ul>
                  {% for idx, link in retrieved.items() %}
                    <li>
                        <a href="{{url_for('docstore.parallel', src=entry.id, tgt=link.second_id)}}">
                        {{link.second_id}}</a> 
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
